/*------------------------------------
#ARCHIVE
------------------------------------*/
.archive-header {
	text-align: center;
	margin-bottom: gutter(8);
}

.archive-thumbnail {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.archive-pretitle {
	@include font-scale(textSans, 4);
	color: $color__teal;
}

.archive-title {
	@include font-scale(accent, 2.5);
}

.archive-subtitle {
	@include font-scale(textSans, 4);
}





/*------------------------------------
#MENU
------------------------------------*/
.menu {
	border-bottom: 1px solid $color__navy;
	padding-bottom: 0.3em;
	@include scroller__items;
}

.menu__item {
	@include font-scale(textSans, 2, $caps: true);
	padding-right: 1em;
	display: inline-block;
	@include transition(color);
	@include scroller__item;

	&:hover {
		color: $color__orange;
		@include transition(color);
	}

	&.is-active {
		color: $color__orange;
		// @include font-scale(kicker, 1, $caps: true);
	}
}







.load-more-button-wrapper {
	clear: both;
	text-align: center;
	margin-top: 5em;
}