/*

!README.MD
!.gitignore
!favicon.ico
!favicon.png
!robots.txt
!humans.txt

!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/little-sous/
wp-content/themes/little-sous/assets/fonts
wp-content/themes/little-sous/vendor


!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/little-sous/


dist
bower_components
node_modules
npm-debug.log

.DS_Store
