{% extends "templates/base.twig" %}

{% block content %}

	<header class="page__header" style="background: url(/wp-content/uploads/2018/06/Little_Sous_NF_518_494_sm.jpg) no-repeat center center; background-size: cover;">
        <div class="container">
            <h1 class="page__title">Little Sous Kitchen Academy: <br> A Monthly Creative Cooking Box for Kids</h1>
        </div>
	</header>

    
    
    

    
    
{% endblock %}
