{% extends "templates/base.twig" %}

{% block content %}

	<header class="page__header" {{ macros.background_image(TimberImage(post.thumbnail).src('wide_large')) }}>
		<div class="container">
            <h1 class="page__title">{{ post.title }}</h1>
        </div>
	</header>

	<div class="container">
		<div class="page__content">
			{{ post.content }}
		</div>
	</div>

{% endblock %}