{% extends "templates/base.twig" %}

{% block content %}

{#
	<header class="section-header">
		<h1 class="section__title">Kitchen Academy</h1>
		<p class="section__subtitle">Lorem ipsum this is a description it says stuff</p>
		<div class="menu">
			<ul class="menu__items">
				<li class="menu__item is-active">All Kitchen Academy</li>
				<li class="menu__item">Kitchen Basics</li>
				<li class="menu__item">Breakfast</li>
				<li class="menu__item">Knife Skills</li>
				<li class="menu__item">Drinks</li>
				<li class="menu__item">Thanksgiving</li>
				<li class="menu__item">Baking</li>
			</ul>
		</div>
	</header>

	<article class="feed-card--big">
		<img class="feed-card--big__image" src="http://via.placeholder.com/657x457">
		<h2 class="feed-card--big__category">Holiday</h2>
		<h1 class="feed-card--big__title">A Just Plain Cool Red, White and Blue Velvet Flag Cake</h1>
		<p class="feed-card--big__subtitle">You, too can achieve pancake perfection.</p>
	</article>



	<div class="feed-cards">
		<article class="feed-card">
			<img class="feed-card__image" src="http://via.placeholder.com/360x240">
			<h2 class="feed-card__category">Holiday</h2>
			<h1 class="feed-card__title">A Just Plain Cool Red, White and Blue Velvet Flag Cake</h1>
		</article>
		<article class="feed-card">
			<img class="feed-card__image" src="http://via.placeholder.com/360x240">
			<h2 class="feed-card__category">Holiday</h2>
			<h1 class="feed-card__title">A Just Plain Cool Red, White and Blue Velvet Flag Cake</h1>
		</article>
		<article class="feed-card">
			<img class="feed-card__image" src="http://via.placeholder.com/360x240">
			<h2 class="feed-card__category">Holiday</h2>
			<h1 class="feed-card__title">A Just Plain Cool Red, White and Blue Velvet Flag Cake</h1>
		</article>
		<article class="feed-card">
			<img class="feed-card__image" src="http://via.placeholder.com/360x240">
			<h2 class="feed-card__category">Holiday</h2>
			<h1 class="feed-card__title">A Just Plain Cool Red, White and Blue Velvet Flag Cake</h1>
		</article>
	</div>

#}

{% endblock %}
